body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f9fc;
  color: #333;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 15px 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-left li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.signup-btn {
  background-color: #dc872d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.upload-section {
  background-color: #d7ebff;
  text-align: center;
  padding: 60px 20px;
  border-radius: 10px;
  margin: 40px auto;
  width: 90%;
  max-width: 900px;
}

.upload-section h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.upload-section p {
  font-size: 16px;
  color: #555;
}

.upload-box {
  margin: 40px auto 0;
  padding: 40px;
  background-color: #eaf4ff;
  border: 2px dashed #b3cef3;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.upload-icon {
  width: 60px;
  margin-bottom: 15px;
}

.upload-btn {
  background-color: #dc872d;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}
